name: Restful web service
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone code
        uses: actions/checkout@v3
      - name: Install Java 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - name: Install maven dependencies
        run: mvn clean install
      - name: Run unit test
        run: mvn test
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Clone code
        uses: actions/checkout@v3
      - name: Install Java 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - name: Install maven dependencies
        run: mvn clean install
      - name: Run build
        run: mvn build
      - name: Deploy to server
        run: echo "Deploying ...."